{% extends 'base.html'%}

{% block content %}

<h1>New Post</h1>

<form action="" method = "post" enctype = "multipart/form-data">
    {% csrf_token %}
    <p style="display: none;"><label for="id_author">Author:</label> <select name="author" required="" id="id_author">
        <option value="{{request.user.pk}}"></option>      
    </select></p>
    <p><label for="id_title">Title:</label> <textarea name="title" cols="40" rows="1" id="id_title"></textarea></p>
    <p><label for="id_image">Image:</label> <input type="file" name="image" accept="image/*" id="id_image"></p>
    <button type = "submit">Create</button>
</form>

{%endblock content%}

